<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Recommendation System</title>
    <!--CSS and Tont link tags-->
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <center>
      <h1>Car Recommendation System</h1>
    </center>

    <!--Form to get user preferences from user-->
    <form action="/recommend" method="POST">
      <center>
        <!--Body style-->
        <label class="bodyLabel" for="bodyStyle">
          What kind of body style do you prefer<span id="bodyColon"
            >:</span
          ></label
        >
        <select name="bodyStyle" id="bodyStyle">
          <option value="0">Bodystyle</option>
          <option value="3">Sedan</option>
          <option value="2">Hatchback</option>
          <option value="4">Wagon</option>
          <option value="1">Convertible</option>
          <option value="5">Hard Top</option>
          <option value="noBody">Not Sure</option>
        </select>

        <br />

        <!--Fuel type-->
        <label class="fuelLabel" for="fuelType"
          >Which fuel style do you prefer<span id="fuelColon">:</span></label
        >
        <input type="radio" name="fuel" id="petrol" value="1" />
        <label for="fuel">Petrol</label>
        <input type="radio" name="fuel" id="diesel" value="2" />
        <label for="fuel">Diesel</label>
        <input type="radio" name="fuel" id="noFuel" value="1" />
        <label for="fuel">Not Sure</label>

        <br />

        <!--Transmission type-->
        <label class="transmissionLabel" for="transmissionType"
          >Which transmission do you prefer<span id="transmissionColon"
            >:</span
          ></label
        >
        <input type="radio" name="transmission" id="automatic" value="1" />
        <label for="transmission">Automatic</label>
        <input type="radio" name="transmission" id="manual" value="2" />
        <label for="transmission">Manual</label>
        <input type="radio" name="transmission" id="noTransmission" value="2" />
        <label for="transmission">Not Sure</label>

        <br />

        <!--Price range-->
        <label class="priceLabel" for="priceRange"
          >What is your prefered price range<span id="priceColon"
            >:</span
          ></label
        >
        <select name="priceRange" id="priceRange">
          <option value="0">Price Range</option>
          <option value="445410">&#8377;350000-&#8377;500000</option>
          <option value="569469">&#8377;500000-&#8377;650000</option>
          <option value="716522">&#8377;650000-&#8377;800000</option>
          <option value="903106">&#8377;800000-&#8377;1000000</option>
          <option value="1228819">&#8377;1000000-&#8377;1500000</option>
          <option value="1705542">&#8377;1500000-&#8377;2000000</option>
          <option value="2294525">&#8377;2000000-&#8377;2500000</option>
          <option value="2823008">&#8377;2500000+</option>
          <option value="990157">Not Sure</option>
        </select>

        <br />

        <!--KMPL inside city-->
        <label class="cityLabel" for="cityKMPL"
          >What is your prefered city mileage<span id="cityColon"
            >:</span
          ></label
        >
        <select name="cityKMPL" id="cityKMPL">
          <option value="0">City Mileage</option>
          <option value="8">5km-10km</option>
          <option value="12">10km-15km</option>
          <option value="17">15+km</option>
          <option value="10">Not Sure</option>
        </select>

        <br />

        <!--KMPL on highway-->
        <label class="highwayLabel" for="highwayKMPL"
          >What is your prefered highway mileage<span id="highwayColon"
            >:</span
          ></label
        >
        <select name="highwayKMPL" id="highwayKMPL">
          <option value="0">Highway Mileage</option>
          <option value="9">5km-10km</option>
          <option value="13">10km-15km</option>
          <option value="17">15+km</option>
          <option value="13">Not Sure</option>
        </select>

        <br />

        <!--Number of doors-->
        <label class="doorLabel" for="doors"
          >What is your prefered number of doors<span id="doorColon"
            >:</span
          ></label
        >
        <input type="radio" name="doors" id="twoDoors" value="2" />
        <label for="twoDoors">Two doors</label>
        <input type="radio" name="doors" id="fourDoors" value="4" />
        <label for="fourDoors">Four doors</label>

        <br />

        <!--Body length-->
        <label class="lengthLabel" for="length"
          >What is your prefered body length<span id="lengthColon"
            >:</span
          ></label
        >
        <select name="length" id="length">
          <option value="156">Short</option>
          <option value="172">Medium</option>
          <option value="186">Long</option>
          <option value="197">Very Long</option>
        </select>

        <br />

        <input type="submit" id="submit" value="Submit" />
      </center>
    </form>
  </body>
</html>
