/*Changing boackground color and font*/
body {
  font-family: "Montserrat", sans-serif;
  color: rgb(231, 229, 226);
  background-color: #181a1b;
}

/*Changing style for radio and select tags*/
input,
select {
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: rgb(231, 229, 226);
}

center {
  margin: 0 7%;
}

/*Positioning the label for each input label*/
.bodyLabel {
  position: relative;
  left: -10.3%;
}

.fuelLabel {
  position: relative;
  left: -1.6%;
}

.transmissionLabel {
  position: relative;
  left: 1.7%;
}

.priceLabel {
  position: relative;
  left: -7.1%;
}

.mileageLabel {
  position: relative;
  left: -9.5%;
}

.doorLabel {
  position: relative;
  left: -4.2%;
}

.lengthLabel {
  position: relative;
  left: -9.3%;
}

/*Positioning the colon of each input label*/
#bodyColon {
  position: relative;
  left: 2.9%;
}

#fuelColon{
  position: relative;
  left: 7.4%;
  margin-right: 7.7%;
}

#transmissionColon{
  position: relative;
  left: 4.6%;
  margin-right: 7.7%;
}

#priceColon{
  position: relative;
  left: 5%;
  padding-right: 40px;
}

#mileageColon{
  position: relative;
  left: 6.9%;
  padding-right: 68px;
}

#doorColon{
  position: relative;
  left: 2%;
  padding-right: 10px;
}

#lengthColon{
  position: relative;
  left: 4.7%;
  padding-right: 35px;
}

/*Styling submit button*/
#submit{
  height: 25px;
  width: 100px;
  border: solid 1px beige;
  background-color: #181a1b;
  color: beige;
  font-family: "Montserrat", sans-serif;
}